@import "tailwindcss";

/* Define 'btn' as a utility so Tailwind registers it */
@utility btn {
  @apply font-semibold py-2 px-4 rounded transition duration-200 ease-in-out;
}

@utility btn-sm {
  @apply bg-blue-400 text-white font-normal px-2 rounded-full transition duration-200 ease-in-out;
}

/* Now you can successfully @apply 'btn' */
@utility btn-primary {
  @apply btn bg-blue-500 text-white hover:bg-blue-700;
}

@utility btn-secondary {
  @apply btn bg-gray-200 text-gray-800 border border-gray-400 hover:bg-gray-300;
}

input[type="text"] {
  @apply bg-slate-200 text-gray-800 rounded-full px-1
}

select {
  @apply bg-slate-200 text-gray-800 rounded-full px-1
}

textarea {
  @apply bg-slate-200 text-gray-800 rounded-full px-1
}

.app {
  font-family: sans-serif;
}

.navbar {
  grid-area: navbar;
}

.topbar {
  grid-area: topbar;
}

.main_pane {
  grid-area: main;
  overflow: auto;
}

.miscbar {
  grid-area: miscbar;
}

@media (orientation: landscape) {
  .app {
    display: grid;
    grid-template-areas:
      "navbar topbar miscbar"
      "navbar main miscbar";

    grid-template-columns: auto 1fr 12rem;
    grid-template-rows: 2rem 1fr;

    /* gap: 1rem; */
    padding: 0.5rem;
  }

  .navbar {
    display: flex !important;
    flex-direction: column;
    /* margin-left: -0.75rem; */
  }

  .nav-toggle {
    display: none;
  }

  .navbar::after {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 6rem;
    top: 50%;
    bottom: 0;
    right: 2px;
    background: grey;
    translate: 8px -50%;
    pointer-events: none;
    border-radius: 4rem;
    z-index: 3;
  }

  .resizer {
    resize: horizontal;
    width: 15rem;
    height: 6rem;
    min-width: 5rem;
    max-width: 25rem;
    transform-origin: 0 100%;
    translate: 8px -50%;
    clip-path: inset(calc(100% - 12px) 2px 0 calc(100% - 14px));
    scale: 1 8;
    opacity: 0;
  }
}

@media (orientation: portrait) {
  .app {
    display: grid;
    grid-template-areas:
      "navbar"
      "topbar"
      "main"
      "miscbar";

    grid-template-rows: auto 2rem 1fr 3rem;

    gap: 0px;
    padding: 0px;
  }
}